html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.Search {
  margin-left: 1500px;
  margin-top: 4px;
}
.BoxFee {
  background-color: #802fd1;
  max-width: 255px;
  height: 197px;
  border-style: solid;
  text-align: center;
  display: grid;

  margin-left: 69px;
}
.ImageFee {
  position: absolute;
}
.IconSelector {
  margin-left: 10px;
}
.BoxFeeEth {
  background-color: #6e85b2;
  max-width: 255px;

  border-style: solid;
  text-align: center;
  display: grid;

  margin-left: 69px;
}
