html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.Search {
  margin-left: 1500px;
  margin-top: 4px;
}
.BoxFee {
  background-color: #802fd1;
  max-width: 255px;
  height: 197px;
  border-style: solid;
  text-align: center;
  display: grid;

  margin-left: 69px;
}
.ImageFee {
  position: absolute;
}
.IconSelector {
  margin-left: 10px;
}
.BoxFeeEth {
  background-color: #916bbf;
  max-width: 255px;

  border-style: solid;
  text-align: center;
  display: grid;

  margin-left: 69px;
}
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.Providers {
  width: 916px;
  height: 453px;
  margin-left: 262px;
  margin-top: 55px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  font-family: 'Righteous', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: #310c0c;
  text-align: center;
  padding-top: 31px;
  
}
.BoxProvider{
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.4) 0%, rgba(196, 196, 196, 0.1) 100%);
border: 1px solid #FA0606;
backdrop-filter: blur(100px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 2000px;
}
